<!--<div>
   <div class="profile-image" *ngIf="playerOne">
    <span [ngClass]="whiteTurn ? 'darkColor' : 'lightColor'">
      <img
        src="../../assets/images/sandeep.jpg"
        alt=""
        srcset=""
        class="image"
      />
    </span>
    <div class="user" *ngIf="playerOne">
      <span class="name">Sandeep</span>
      <span class="color">White</span>
    </div>
  </div> 
</div>-->
<div class="board">
  <!-- <ng-container>
     <app-black-kills [data]="BlackKiil"></app-black-kills> 
  </ng-container>-->
  <div class="main">
    <div class="row" *ngFor="let rows of board; let i = index">
      <div class="column" *ngFor="let cell of rows; let j = index">
        <div class="cell" (click)="$$selectMember(i, j, cell)" [ngClass]="{
            changeColor: cell.highlight,
            brown: cell.color,
            red: cell.isAlert
          }">
          <!-- {{i}}-{{j}} -->
          <span *ngIf="cell.clue !== 0">
            <i [ngClass]="cell.icon"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- <ng-container>
     <app-white-kills [data]="whiteKiil"></app-white-kills> 
  </ng-container>-->
</div>
<!-- <div class="profile-image" *ngIf="playerTwo">
  <span [ngClass]="BlackTurn ? 'darkColor' : 'lightColor'">
    <img src="../../assets/images/raghu.avif" alt="" srcset="" class="image" />
  </span>

  <div class="user">
    <div>
      <span class="name">Raghu</span>
    </div>
    <div>
      <span class="color">Black</span>
    </div>
  </div>
</div> -->
<!-- <button mat-raised-button (click)="openCongratulationsComponent()">open</button> -->