.container {
  background-color: rgb(220, 191, 153);
  height: 100%;
  display: flex;
  flex-direction: column;
  
}
h1{
  margin-top: 20px;
  margin-left: 40px;
}
.cell {
  margin-left: 40px;
  align-items: center;
  margin-top: 10px;
  display: flex;
}

.btn{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message {
  margin-left: 10px;
}
.red {
  width: 60px;
  height: 60px;
}
.green {
  width: 60px;
  height: 60px;
  background-color:  rgb(209, 134, 203);
  border: 1px solid black;
}

.black {
  width: 60px;
  height: 60px;
  background-color: #86c7df;
  border: 1px solid black;
}
.white {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  background-color: rgb(242, 215, 215);
}
.red {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  background-color: red;
}
