:host {
  display: block;
  height: 100vh;
  background-color: rgb(244, 199, 141);
}
.container {
  display: flex;
  justify-content: center;
}
.header {
  padding: 18px;
  display: flex;
  justify-content: space-around;
}
.btn {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
