:host {
  display: block;
  display: flex;
  flex-direction: column;
  border: 0.1px solid;

  .rows {
    width: 750px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    span {
      width: 75px;
      height: 75px;

      display: flex;
      align-items: center;
      justify-content: center;

      i {
        width: 20px;
        font-size: 30px;
      }
    }

    .blue {
      background-color: lightcyan;
    }

    .green {
      background-color: rgb(236, 213, 213);
    }

    span:active {
      background-color: aqua;
      cursor: pointer;
    }

    span:hover {
      cursor: pointer;
      background-color: lawngreen;
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
